/*Font et marge du site*/

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 2% 3% 0% 3%;
}


/*Texte*/

h1 {
    font-size: 1.2em;
    font-weight: 700;
}

h2 {
    font-size: 97%;
    font-weight: 700;
}

p {
    font-size: 85%;
}


/*Liens, icônes et listes à puces : indications de base*/

a {
    text-decoration: none;
    color: black;
    font-size: 85%;
}

i {
    color: #0065FC;
}

ul {
    list-style-type: none;
}


/*Background*/

.clear_background {
    background-color: #F2F2F2;
}

.white_background {
    background-color: white;
}


/*Header*/

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 5%;
    height: 5%;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0em;
}

.nav_links {
    width: 100%;
    padding: 3em;
}

.nav_links:hover {
    color: #0065FC;
    border-top: 0.2em solid #0065FC;
    box-sizing: content-box;
    padding: 2em;
}


/*Main*/


/*Main: formulaire*/

#form {
    display: flex;
    height: 2.5em;
}

#place_icon {
    color: black;
    width: 2.2em;
    border-radius: 1em 0em 0em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_value {
    font-weight: 700;
    height: 2.7em;
    padding-left: 1em;
    border: 1px solid #F2F2F2;
}

#search>#research {
    border: 0em solid #0065FC;
    border-radius: 0em 1em 1em 0em;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    width: 8em;
    height: 3em;
}

#search>#research:hover {
    cursor: pointer;
}

#search_icon {
    visibility: hidden;
}


/*Main: filtres*/

#end_main {
    margin-left: -3em;
}

#main_filtre {
    width: 67%;
    display: flex;
    justify-content: space-between;
}

#title_filtre {
    padding: 0.8em;
}

.filtre {
    border: 2px solid #D9D9D9;
    border-radius: 2em;
    padding: 0.7em;
}

.filtre:hover {
    background: #DEEBFF;
    cursor: pointer;
}

.type_filtre {
    padding-left: 0.7em;
}


/*Fin du main*/

#indication_main {
    display: flex;
}

#indication_icone {
    border: 1px solid #F2F2F2;
    border-radius: 4em;
    width: 1.7em;
    height: 1.7em;
    margin-right: 1em;
    margin-top: 0.7em;
}

#info_bulle {
    padding: 0.3em 0em 0em 0.7em;
}


/*Article et Aside*/

#hostels {
    display: flex;
}


/*Article Hébergement*/

article {
    flex-grow: 1.8;
    flex-basis: 0;
}

#hostel_article {
    border-radius: 1em;
    padding: 2%;
}

#all_hostel_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.only_hostel_card {
    width: 28%;
    height: 12em;
    box-shadow: 0em 0.5em 1em #D9D9D9;
    border: 4px solid white;
    border-radius: 1.3em;
    margin: 1em 1em 0em 0em;
}

.images_hostels {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
}

.hostel_card_text {
    margin: 0.5em 0em 0em -1.5em;
}

.title_card {
    font-size: 90%;
    font-weight: 700;
}

.hostel_cost {
    font-size: 96%;
}

.rank {
    display: flex;
    font-size: 0.7em;
}

.star_empty {
    color: #F2F2F2;
}

.hostel_rank {
    margin: 0em 0em 0em -2em;
}

#hostels_extra {
    font-size: 1.2em;
}


/*Aside*/

aside {
    border-radius: 1em;
    margin-left: 3%;
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    flex-basis: 0;
}

#title_popular_hostels {
    display: flex;
    justify-content: space-between;
    margin-top: -0.2em;
}

#logo_popular {
    margin: 0.9em 0em 0em 0em;
}

.only_popular_hostel {
    box-shadow: 0em 0.5em 1em #D9D9D9;
    border: 4px solid white;
    border-radius: 1.3em;
    height: 8em;
    margin: 0.5em 0em 1.6em 0em;
}

.popular_flex {
    display: flex;
    margin: 0em 0em 0em -2.7em;
}

.popular_hostel_image {
    width: 8em;
    height: 9.5em;
    border-top-left-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    object-fit: cover;
}

.popular_text {
    margin-left: 1em;
}

.popular_rank {
    margin: 8em 0em 0em -10em;
}


/*Section*/

#all_activities {
    margin: 2em -1em 0em 0em;
}

#activities {
    display: flex;
    width: 100%;
}

.only_activity_card {
    width: 100em;
    margin: 0em 1em 0em 0em;
    box-shadow: 0em 0.5em 1em #D9D9D9;
    border: 4px solid white;
    border-radius: 1.5em;
}

.activity_image {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.activity_title {
    margin-top: 0em;
    padding: 0.2em 0.7em 1em 1em;
    font-size: 98%;
}


/*Footer*/

footer {
    padding: 1em 0em 1em 2em;
    margin-top: 4em;
}

#footer_description {
    width: 69%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em 1em 2em;
}

.footer_links {
    display: flex;
    flex-direction: column;
}

.footer_links>a {
    margin-top: 1em;
}